<!-- <form (ngSubmit)="onSubmit()">
    <div>
      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" name="taskName" [(ngModel)]="taskName">
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <button type="submit">Create Task</button>
  </form>
  
   -->