<p>task-list works!</p>
<table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Due Date</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.dueDate }}</td>
        <!-- Add more table cells for other task details -->
      </tr>
    </tbody>
  </table>